body {
    background-color: black;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
    width: 1080px;
    margin: 0 auto;
    padding: 0 190px; 
    flex-direction: column;
}

.container.one {
    color: aliceblue;
    background-color: #1f2937;
    gap: 30px;
    padding: 20px; /* Añadido */
}

.header {
    display: flex;
    flex: 1;
    margin: 20px 0;
}

.header-logo {
    margin: 0;
    margin-right: auto;
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
    font-family: sans-serif;
}

ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: aliceblue;
    align-items: center;
}

.body {
    display: flex;
    gap: 40px;
    flex: 1;
}

.text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title h1,
.subtext p,
button {
    flex: 1;
}

.title h1 {
    font-weight: bolder;
    color: #f9faf8;
    font-size: 48px;
    margin: 0;
}

.subtext p,
.links {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 30px;
    font-weight: 900;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

img {
    width: 100%; /* Cambiado */
    flex: 1;
}
